{% extends "base.html" %}

{% block title_page %} Liste des vaccins {% endblock %}

{% block content %}

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">label</th>
            <th scope="col">adresse</th>
        </tr>
        </thead>
        <tbody>
        {% for centre in centres %}
        <tr>
            <td> {{ centre.id }}</td>
            <td> {{ centre.label }}</td>
            <td> {{ centre.adresse }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}