<!-- ----- début fragmentCaveMenu -->

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index:index' %}">Thomas Girod</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Gestion des vaccins<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'vaccin:view_all' %}">Liste des vaccins</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'vaccin:add' %}">Ajout d'un vaccin</a></li>
                    <li><a href="{% url 'vaccin:update' %}">Mise à jour d'un vaccin</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Gestion des centres<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'centre:view_all' %}">Liste des centres</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'centre:add' %}">Ajouter un centre</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Gestion des patients<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'patient:view_all' %}">Liste des patient</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'patient:add' %}">Ajouter un patient</a></li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Gestion des stocks<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'stock:view_detail' %}">Stock détaillé par centre</a></li>
                    <li><a href="{% url 'stock:view_global' %}">Stock global par centre</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'stock:add' %}">Ajout de doses à un centre</a></li>
                    {% endif %}
                </ul>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Gestion des rendez-vous<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'rendezvous:select_patient' %}">Dossier de vaccination d'un patient</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'index:logout' %}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{% url 'index:login' %}">Connexion</a></li>
                        <li><a href="{% url 'index:login' %}">Nouveau compte</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</nav>


