

.auth-panel {
    background-color: #dcddde;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.auth-header {
    width: 100%;
    background-color: #417690;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
}

.auth-body {
    margin: 20px;
}

.auth-body > .hr {
    margin-top: 0px;
}

